{
  "openapi": "3.1.1",
  "info": {
    "title": "AlAshmar | v1",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://alashmar.runasp.net/"
    }
  ],
  "paths": {
    "/api/Auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login",
        "description": "Authenticates a user with their username and password and returns a JWT access token along with a refresh token.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResult"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refresh Access Token",
        "description": "Exchanges a valid refresh token for a new JWT access token, allowing seamless session continuation without re-login.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenResponse"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get Current Account Information",
        "description": "Returns current account information based on role. Teachers receive teacher info, students receive student info, and managers receive manager info.",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/AllowableExtensions": {
      "get": {
        "tags": [
          "AllowableExtensions"
        ],
        "summary": "Get All Items",
        "description": "Retrieves a complete list of all items of this resource type.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AllowableExtensionDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AllowableExtensionDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AllowableExtensionDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "AllowableExtensions"
        ],
        "summary": "Create Item",
        "description": "Creates a new item of this resource type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAllowableExtensionDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAllowableExtensionDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAllowableExtensionDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AllowableExtensionDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowableExtensionDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowableExtensionDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/AllowableExtensions/paged": {
      "get": {
        "tags": [
          "AllowableExtensions"
        ],
        "summary": "Get Items (Paged)",
        "description": "Retrieves a paginated list of items. Use the page and pageSize query parameters to control pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfAllowableExtensionDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfAllowableExtensionDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfAllowableExtensionDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/AllowableExtensions/{id}": {
      "get": {
        "tags": [
          "AllowableExtensions"
        ],
        "summary": "Get Item by ID",
        "description": "Retrieves a specific item by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AllowableExtensionDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowableExtensionDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowableExtensionDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "put": {
        "tags": [
          "AllowableExtensions"
        ],
        "summary": "Update Item",
        "description": "Updates an existing item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAllowableExtensionDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAllowableExtensionDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAllowableExtensionDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AllowableExtensionDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowableExtensionDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowableExtensionDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "delete": {
        "tags": [
          "AllowableExtensions"
        ],
        "summary": "Delete Item",
        "description": "Permanently removes an item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Books": {
      "get": {
        "tags": [
          "Books"
        ],
        "summary": "Get All Items",
        "description": "Retrieves a complete list of all items of this resource type.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BookDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BookDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BookDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Books"
        ],
        "summary": "Create Item",
        "description": "Creates a new item of this resource type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBookDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBookDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBookDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BookDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Books/paged": {
      "get": {
        "tags": [
          "Books"
        ],
        "summary": "Get Items (Paged)",
        "description": "Retrieves a paginated list of items. Use the page and pageSize query parameters to control pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfBookDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfBookDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfBookDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Books/{id}": {
      "get": {
        "tags": [
          "Books"
        ],
        "summary": "Get Item by ID",
        "description": "Retrieves a specific item by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BookDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "put": {
        "tags": [
          "Books"
        ],
        "summary": "Update Item",
        "description": "Updates an existing item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBookDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBookDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBookDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BookDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "delete": {
        "tags": [
          "Books"
        ],
        "summary": "Delete Item",
        "description": "Permanently removes an item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Hadiths": {
      "get": {
        "tags": [
          "Hadiths"
        ],
        "summary": "Get All Items",
        "description": "Retrieves a complete list of all items of this resource type.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HadithDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HadithDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HadithDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Hadiths"
        ],
        "summary": "Create Item",
        "description": "Creates a new item of this resource type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHadithDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHadithDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHadithDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HadithDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HadithDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HadithDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Hadiths/paged": {
      "get": {
        "tags": [
          "Hadiths"
        ],
        "summary": "Get Items (Paged)",
        "description": "Retrieves a paginated list of items. Use the page and pageSize query parameters to control pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfHadithDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfHadithDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfHadithDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Hadiths/{id}": {
      "get": {
        "tags": [
          "Hadiths"
        ],
        "summary": "Get Item by ID",
        "description": "Retrieves a specific item by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HadithDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HadithDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HadithDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "put": {
        "tags": [
          "Hadiths"
        ],
        "summary": "Update Item",
        "description": "Updates an existing item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHadithDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHadithDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHadithDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HadithDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HadithDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HadithDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "delete": {
        "tags": [
          "Hadiths"
        ],
        "summary": "Delete Item",
        "description": "Permanently removes an item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Semesters": {
      "get": {
        "tags": [
          "Semesters"
        ],
        "summary": "Get All Items",
        "description": "Retrieves a complete list of all items of this resource type.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SemesterDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SemesterDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SemesterDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Semesters"
        ],
        "summary": "Create Item",
        "description": "Creates a new item of this resource type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSemesterDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSemesterDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSemesterDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SemesterDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SemesterDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SemesterDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Semesters/paged": {
      "get": {
        "tags": [
          "Semesters"
        ],
        "summary": "Get Items (Paged)",
        "description": "Retrieves a paginated list of items. Use the page and pageSize query parameters to control pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfSemesterDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfSemesterDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfSemesterDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Semesters/{id}": {
      "get": {
        "tags": [
          "Semesters"
        ],
        "summary": "Get Item by ID",
        "description": "Retrieves a specific item by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SemesterDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SemesterDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SemesterDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "put": {
        "tags": [
          "Semesters"
        ],
        "summary": "Update Item",
        "description": "Updates an existing item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSemesterDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSemesterDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSemesterDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SemesterDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SemesterDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SemesterDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "delete": {
        "tags": [
          "Semesters"
        ],
        "summary": "Delete Item",
        "description": "Permanently removes an item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/PointCategories": {
      "get": {
        "tags": [
          "PointCategories"
        ],
        "summary": "Get All Items",
        "description": "Retrieves a complete list of all items of this resource type.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PointCategoryDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PointCategoryDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PointCategoryDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "PointCategories"
        ],
        "summary": "Create Item",
        "description": "Creates a new item of this resource type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePointCategoryDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePointCategoryDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePointCategoryDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PointCategoryDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointCategoryDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointCategoryDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/PointCategories/paged": {
      "get": {
        "tags": [
          "PointCategories"
        ],
        "summary": "Get Items (Paged)",
        "description": "Retrieves a paginated list of items. Use the page and pageSize query parameters to control pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfPointCategoryDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfPointCategoryDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfPointCategoryDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/PointCategories/{id}": {
      "get": {
        "tags": [
          "PointCategories"
        ],
        "summary": "Get Item by ID",
        "description": "Retrieves a specific item by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PointCategoryDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointCategoryDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointCategoryDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "put": {
        "tags": [
          "PointCategories"
        ],
        "summary": "Update Item",
        "description": "Updates an existing item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePointCategoryDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePointCategoryDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePointCategoryDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PointCategoryDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointCategoryDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointCategoryDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "delete": {
        "tags": [
          "PointCategories"
        ],
        "summary": "Delete Item",
        "description": "Permanently removes an item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Points": {
      "get": {
        "tags": [
          "Points"
        ],
        "summary": "Get All Items",
        "description": "Retrieves a complete list of all items of this resource type.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PointDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PointDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PointDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Points"
        ],
        "summary": "Create Item",
        "description": "Creates a new item of this resource type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePointDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePointDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePointDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PointDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Points/paged": {
      "get": {
        "tags": [
          "Points"
        ],
        "summary": "Get Items (Paged)",
        "description": "Retrieves a paginated list of items. Use the page and pageSize query parameters to control pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfPointDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfPointDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfPointDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Points/{id}": {
      "get": {
        "tags": [
          "Points"
        ],
        "summary": "Get Item by ID",
        "description": "Retrieves a specific item by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PointDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "put": {
        "tags": [
          "Points"
        ],
        "summary": "Update Item",
        "description": "Updates an existing item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePointDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePointDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePointDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PointDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "delete": {
        "tags": [
          "Points"
        ],
        "summary": "Delete Item",
        "description": "Permanently removes an item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Roles": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Get All Items",
        "description": "Retrieves a complete list of all items of this resource type.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "Roles"
        ],
        "summary": "Create Item",
        "description": "Creates a new item of this resource type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoleDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoleDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoleDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Roles/paged": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Get Items (Paged)",
        "description": "Retrieves a paginated list of items. Use the page and pageSize query parameters to control pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfRoleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfRoleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfRoleDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/Roles/{id}": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Get Item by ID",
        "description": "Retrieves a specific item by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "put": {
        "tags": [
          "Roles"
        ],
        "summary": "Update Item",
        "description": "Updates an existing item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoleDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoleDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoleDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "delete": {
        "tags": [
          "Roles"
        ],
        "summary": "Delete Item",
        "description": "Permanently removes an item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/TeacherAttendances": {
      "get": {
        "tags": [
          "TeacherAttendances"
        ],
        "summary": "Get All Items",
        "description": "Retrieves a complete list of all items of this resource type.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeacherAttendanceDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeacherAttendanceDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeacherAttendanceDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "TeacherAttendances"
        ],
        "summary": "Create Item",
        "description": "Creates a new item of this resource type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeacherAttendanceDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeacherAttendanceDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeacherAttendanceDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TeacherAttendanceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeacherAttendanceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeacherAttendanceDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/TeacherAttendances/paged": {
      "get": {
        "tags": [
          "TeacherAttendances"
        ],
        "summary": "Get Items (Paged)",
        "description": "Retrieves a paginated list of items. Use the page and pageSize query parameters to control pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfTeacherAttendanceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfTeacherAttendanceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfTeacherAttendanceDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/TeacherAttendances/{id}": {
      "get": {
        "tags": [
          "TeacherAttendances"
        ],
        "summary": "Get Item by ID",
        "description": "Retrieves a specific item by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TeacherAttendanceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeacherAttendanceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeacherAttendanceDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "put": {
        "tags": [
          "TeacherAttendances"
        ],
        "summary": "Update Item",
        "description": "Updates an existing item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeacherAttendanceDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeacherAttendanceDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeacherAttendanceDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TeacherAttendanceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeacherAttendanceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeacherAttendanceDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "delete": {
        "tags": [
          "TeacherAttendances"
        ],
        "summary": "Delete Item",
        "description": "Permanently removes an item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/ClassTeacherEnrollments": {
      "get": {
        "tags": [
          "ClassTeacherEnrollments"
        ],
        "summary": "Get All Items",
        "description": "Retrieves a complete list of all items of this resource type.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassTeacherEnrollmentDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassTeacherEnrollmentDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassTeacherEnrollmentDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "ClassTeacherEnrollments"
        ],
        "summary": "Create Item",
        "description": "Creates a new item of this resource type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassTeacherEnrollmentDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassTeacherEnrollmentDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassTeacherEnrollmentDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClassTeacherEnrollmentDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassTeacherEnrollmentDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassTeacherEnrollmentDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/ClassTeacherEnrollments/paged": {
      "get": {
        "tags": [
          "ClassTeacherEnrollments"
        ],
        "summary": "Get Items (Paged)",
        "description": "Retrieves a paginated list of items. Use the page and pageSize query parameters to control pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfClassTeacherEnrollmentDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfClassTeacherEnrollmentDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfClassTeacherEnrollmentDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/ClassTeacherEnrollments/{id}": {
      "get": {
        "tags": [
          "ClassTeacherEnrollments"
        ],
        "summary": "Get Item by ID",
        "description": "Retrieves a specific item by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClassTeacherEnrollmentDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassTeacherEnrollmentDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassTeacherEnrollmentDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "put": {
        "tags": [
          "ClassTeacherEnrollments"
        ],
        "summary": "Update Item",
        "description": "Updates an existing item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClassTeacherEnrollmentDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClassTeacherEnrollmentDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClassTeacherEnrollmentDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClassTeacherEnrollmentDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassTeacherEnrollmentDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassTeacherEnrollmentDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "delete": {
        "tags": [
          "ClassTeacherEnrollments"
        ],
        "summary": "Delete Item",
        "description": "Permanently removes an item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/StudentAttendances": {
      "get": {
        "tags": [
          "StudentAttendances"
        ],
        "summary": "Get All Items",
        "description": "Retrieves a complete list of all items of this resource type.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StudentAttendanceDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StudentAttendanceDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StudentAttendanceDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "post": {
        "tags": [
          "StudentAttendances"
        ],
        "summary": "Create Item",
        "description": "Creates a new item of this resource type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStudentAttendanceDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStudentAttendanceDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStudentAttendanceDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StudentAttendanceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentAttendanceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentAttendanceDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/StudentAttendances/paged": {
      "get": {
        "tags": [
          "StudentAttendances"
        ],
        "summary": "Get Items (Paged)",
        "description": "Retrieves a paginated list of items. Use the page and pageSize query parameters to control pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfStudentAttendanceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfStudentAttendanceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfStudentAttendanceDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/StudentAttendances/{id}": {
      "get": {
        "tags": [
          "StudentAttendances"
        ],
        "summary": "Get Item by ID",
        "description": "Retrieves a specific item by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StudentAttendanceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentAttendanceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentAttendanceDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "put": {
        "tags": [
          "StudentAttendances"
        ],
        "summary": "Update Item",
        "description": "Updates an existing item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStudentAttendanceDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStudentAttendanceDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStudentAttendanceDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StudentAttendanceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentAttendanceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentAttendanceDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "delete": {
        "tags": [
          "StudentAttendances"
        ],
        "summary": "Delete Item",
        "description": "Permanently removes an item identified by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/teachers/{id}/attendance": {
      "get": {
        "tags": [
          "TeacherAcademic"
        ],
        "summary": "Get Teacher Attendance Records",
        "description": "Retrieves attendance records for the specified teacher. Supports optional date range filtering using fromDate and toDate query parameters.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/teachers/{id}/points-given": {
      "get": {
        "tags": [
          "TeacherAcademic"
        ],
        "summary": "Get Points Given by Teacher",
        "description": "Retrieves a list of points awarded by the specified teacher. Can be filtered to a specific semester using the semesterId query parameter.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "semesterId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/teachers/{id}/attachments": {
      "post": {
        "tags": [
          "TeacherAttachment"
        ],
        "summary": "Upload Teacher Attachment",
        "description": "Uploads and attaches a file (such as a document or photo) to the specified teacher's profile.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "formFile": {
                    "$ref": "#/components/schemas/IFormFile"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      },
      "get": {
        "tags": [
          "TeacherAttachment"
        ],
        "summary": "Get Teacher Attachments",
        "description": "Retrieves metadata for all file attachments associated with the specified teacher.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/teachers/filtered": {
      "get": {
        "tags": [
          "Teacher"
        ],
        "summary": "Get Teachers (Filtered & Paged)",
        "description": "Retrieves a paginated and filtered list of teachers. Supports filtering by class (halaqa), semester, and course.",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "classId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "semesterId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "courseId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfTeacherDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfTeacherDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfTeacherDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/teachers/{id}": {
      "get": {
        "tags": [
          "Teacher"
        ],
        "summary": "Get Teacher by ID",
        "description": "Retrieves the full profile of a specific teacher by their unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      },
      "put": {
        "tags": [
          "Teacher"
        ],
        "summary": "Update Teacher",
        "description": "Partially updates teacher profile/account fields. Only provided fields are changed; password is hashed before saving.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeacherDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeacherDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeacherDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      },
      "delete": {
        "tags": [
          "Teacher"
        ],
        "summary": "Delete Teacher",
        "description": "Permanently removes a teacher and all their associated data from the system.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/teachers": {
      "post": {
        "tags": [
          "Teacher"
        ],
        "summary": "Register Teacher",
        "description": "Registers a new teacher in the system. The teacher's national ID number is used as the default password. Use the POST /{id}/attachments endpoint to upload files separately.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeacherDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeacherDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeacherDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/teachers/{id}/password": {
      "put": {
        "tags": [
          "Teacher"
        ],
        "summary": "Update Teacher Password",
        "description": "Changes the login password for the specified teacher account.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePasswordDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePasswordDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePasswordDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/teachers/{id}/enrollments": {
      "post": {
        "tags": [
          "TeacherEnrollment"
        ],
        "summary": "Assign Teacher to Class",
        "description": "Assigns a teacher to a specific class (halaqa). Use the isMainTeacher flag to designate this teacher as the primary teacher for the class.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollTeacherInClassRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollTeacherInClassRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollTeacherInClassRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      },
      "get": {
        "tags": [
          "TeacherEnrollment"
        ],
        "summary": "Get Teacher Class Assignments",
        "description": "Retrieves all class (halaqa) assignments for the specified teacher.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/teachers/my-halaqas": {
      "get": {
        "tags": [
          "TeacherHalaqa"
        ],
        "summary": "Get My Halaqas",
        "description": "Retrieves all halaqas (study circles) assigned to the currently authenticated teacher.",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/teachers/{id}/halaqas": {
      "get": {
        "tags": [
          "TeacherHalaqa"
        ],
        "summary": "Get Teacher Halaqas",
        "description": "Retrieves all halaqas (study circles) the specified teacher is assigned to, including course (subject) details such as Quran, Hadith, etc.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/teachers/{teacherId}/halaqas/{halaqaId}/attendance": {
      "get": {
        "tags": [
          "TeacherHalaqa"
        ],
        "summary": "Get Students with Attendance in Halaqa",
        "description": "Retrieves all students enrolled in the specified halaqa along with their attendance records.",
        "parameters": [
          {
            "name": "teacherId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "halaqaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/teachers/{teacherId}/halaqas/{halaqaId}/attendance/confirm": {
      "post": {
        "tags": [
          "TeacherHalaqa"
        ],
        "summary": "Confirm Student Attendance",
        "description": "Allows the teacher to confirm (record) attendance for a student in a halaqa session by providing the student enrollment ID and session date range.",
        "parameters": [
          {
            "name": "teacherId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "halaqaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmAttendanceDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmAttendanceDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmAttendanceDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/teachers/{teacherId}/students/{studentId}/assessments": {
      "post": {
        "tags": [
          "TeacherHalaqa"
        ],
        "summary": "Add Student Assessment",
        "description": "Adds a point-based assessment for a student in a specific subject (course). Use a positive PointValue to add points and a negative value to deduct points. Supports optional category and notes.",
        "parameters": [
          {
            "name": "teacherId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddStudentAssessmentDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddStudentAssessmentDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddStudentAssessmentDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      },
      "get": {
        "tags": [
          "TeacherHalaqa"
        ],
        "summary": "Get Student Assessments by Subject",
        "description": "Retrieves a student's point-based assessments grouped by subject (course: Quran, Hadith, etc.). Supports optional filtering by class or semester.",
        "parameters": [
          {
            "name": "teacherId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "classId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "semesterId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/teachers/{id}/students": {
      "get": {
        "tags": [
          "TeacherHalaqa"
        ],
        "summary": "Get All Teacher's Students",
        "description": "Retrieves all students enrolled in any of the teacher's halaqas. Supports optional name search via the 'nameSearch' query parameter.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "nameSearch",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/api/students/{id}/academic-stage": {
      "get": {
        "tags": [
          "StudentAcademic"
        ],
        "summary": "Get Student Academic Stage",
        "description": "Retrieves the assigned academic stage for the specified student.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
[...]
